#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  /* Con esto se maneja el color de valoracion aun no puntuada */
  label:hover,
  label:hover ~ label {
    color: rgb(252, 106, 252);
  }
  /* Con esto se maneja el color de valoracion puntuada */
  input[type="radio"]:checked ~ label {
    color: rgb(250, 26, 231);
  }
  

.imagen_navbar {
    height: 60px;
    width: 60px;
    margin-top: 15px;
    margin-left: 15px;
   
}



.imagen_secciones {
    height: 100%;
    width: 100%;
    border: 2px solid rgb(240, 87, 87);
    
}

.cartas{
    height: 70%;
    width: 70%;
    margin-top: 5%;
    margin-bottom: 20%;
    margin-left:20% ;
    
    
}
.cuerpo_carta{
    padding-bottom: 40px;
    border: 2px solid rgb(241, 110, 34);
}


/* El 2vw se controla la fuente de la letra a partir del tamaño de la pantalla*/
.titulo_carta{
    font-size: 2vw;
}

.pie_pagina{
    background-color: chocolate;

}




.imguwu {
  border: 2px solid grey;
  margin: 0;
  padding: 0;
  border-radius: 800px;
  overflow: hidden;
}


.pie_pagina{
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 10%;
   background-color: rgb(228, 86, 86);

}

.imagen_pie{
    
    height: 100px;
    width: 80px;

}